body {
    font-family: Roboto;
    text-align: center;
    color: black;
    background-color: whitesmoke;
}

h1 {
    text-shadow: 2px 0.5px 3px rgba(0,0,0, 0.5);

}

.switch {
    align-self: flex-end;
    margin: 0px;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding:0.2em 0.2em;
    border:0.05em solid #000000;
    border-radius:0.12em;
    box-sizing: border-box;
}


.dark {
    background-color: black;
    color: whitesmoke;
}

.dark-h1 {
    text-shadow: 2px 0.5px 3px rgba(255,255,255, 0.5)
}

.inner-dark-switch {
    border: 0.1em solid #ffffff;
}